<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<div class="container">
  <div class="col-md-5 col-md-pus-4">
  		<div class="col-md-12">
  			<div class="form-group">
  				<label> username </label>
  				<div class="form-control"> </div>
  			</div>
  			
  		</div>
  		<div class="col-md-12">
  			<div class="form-group">
  				<label> old password </label>
  				<input type="text" name="password" >
  			</div>
  			
  		</div>
  		<div class="col-md-12">
  			<div class="form-group">
  				<label> new password </label>
  				<input type="text" name="password" >
  			</div>
  			
  		</div>
  </div>
</div>