<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<div class="container">
<div class="col-md-8 col-md-push-2">
<h1> All the students </h1>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>First Name</th>
	      <th>Last Name</th>
	      <th>Username</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td><a href="edit" class="btn btn-info"> Edit </a> </td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>Jacob</td>
	      <td>Thornton</td>
	      <td>@fat</td>
	      <td><a href="edit" class="btn btn-info"> Edit </a> </td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>Larry</td>
	      <td>the Bird</td>
	      <td>@twitter</td>
	      <td><a href="edit" class="btn btn-info"> Edit </a> </td>
	    </tr>
	  </tbody>

	</table>
</div>
    <div class="text-center col-md-12">
  		<a href="register" class="btn btn-info"> Register </a>
  		
  		<button class="btn btn-info" (click)="logingOut()"> Log out </button>
  </div>
</div>